/* Footer */
.footer {
    background-color: #002147;
    color: white;
    padding: 30px 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links a {
    text-decoration: none;
    color: white;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}